body {
    display: flex;
    flex-direction:row;
    position: relative;
}

div {
    position: relative;
    border: solid black;
}

.title-card {
    position: absolute;
    top: 50px;
    height: 35%;
    width: 100%;
    background-color: rgb(140, 140, 140, 0.2);
    border: none;
}

.logo {
    position: absolute;
    left: 35%;
}

.title {
    
}

h1 {
    color: #66cc66;
}